div {
    width:auto;
    height:auto;
    border: 8px solid #ffccff;
    background-color: #ff3;
    text-align: center;
    margin:0;
    padding:0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

div.boxA, div.boxB {
    border: solid 8px #00a0e9;
    background-color: #a0e0fe;
    color: #00a0e9;
}

@Media (min-width:768px) {
    div.box1 { }
    div.box2 {float: right; width:80%; }
    div.box3 {float: right; width:20%; }
    div.box4 {float: left; width:20% }

    div.boxB {float: left; width:80%;}
    div.boxB::after {content: ""; display: block; clear:both;}

    div.boxA::after {
        content: "";
        display: block;
        clear:both;
    }
}